

li{
    list-style-type:none;
} 
/*hình ảnh*/
.slide{
    border-bottom:2px solid #00ffff;
    float:left;
    margin-top:0px;
    width:100%;
    height:550px ;
    position:relative;
}
body{
    margin:0px;
 
}
.body{
    width:100%;
    height:auto;
display: flex;
justify-content: space-between;

}
.noidung{
    width:65%;
    height:auto;
    color:#000000;

    margin-left:5%;
display: flex;
flex-direction: column;
justify-content: space-between;
}
.noidungphu{
    margin-right:2%;
    width:25%;
    background-color:#c3c1b6;
    height:auto;
    margin-top:100px;
}
.noidung1{
    width:100%;
    height:auto;
   display: flex;
flex-direction: column;
}