body
{
   
   width:100%;
   margin:0px;
 background-image:url(../diadiem/nenweb6.jpg);
}
.main{
    text-align:center;
}
.banner{
    
 

    border-bottom: 2px solid #ff6a00;
    background-color:#ffffff;
    width:100%;
    height:auto;
    margin:0px auto;
    z-index:5;
    position:absolute;
    
}
.banner{
    position:fixed;
}
#logo{
    /*
    border:2px solid #ff6a00 ;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;  
        */

 
    margin-bottom:20px;
    margin-left:60px;
    width:10%;
    height:auto;
    margin-top:0px;
    position:absolute;
}

.menu{
   display: flex;
justify-content: flex-end;
    margin-bottom: 1px;
}
 a{
    text-decoration:none;
    color: #811919;

}

     
.Home {
    list-style-type: none;
    font-weight: bold;
    float: right;
    color: #811919;
    font-family: Calibri;
    font-size: 20px;

    margin-top: 0.7%;
    padding: 1.09%;

}
.Home:active{
    color:black;
    background-color:#811919;
}
.GIOITHIEU {


    font-weight:bold;

    color:#ff6a00;
    font-family:Calibri;
    font-size:20px;
    margin-left:20px;
    margin-top: 0.7%;
    padding: 1.09%;

}
.VUNGMIEN{
    display:flex;
    font-weight:bold;
  
    color:#811919;
    font-family:Calibri;
    font-size:20px;
    margin-left:1.5%;
    margin-top: 0.7%;
    padding: 1.09%;
    position:relative;

}
.DISAN{
    font-weight:bold;
  
    color:#811919;
    font-family:Calibri;
    font-size:20px;
    margin-left:1.5%;
    margin-top: 0.7%;
    padding: 1.09%;


}
.LOAIHINH{
    font-weight:bold;
  
    color:#811919;
    font-family:Calibri;
    font-size:20px;
    margin-left:1.5%;
    margin-top: 0.7%;
    padding: 1.09%;


}
.BANGTIN{
    font-weight:bold;
 
    color:#811919;
    font-family:Calibri;
    font-size:20px;
    margin-left:1.5%;
    margin-top: 0.7%;
     padding: 1.09%;


}
.LIENHE{
    font-weight:bold;
 
    color:#811919;
    font-family:Calibri;
    font-size:20px;
    
    margin-top: 0.7%;
     padding: 1.09%;


}



    /*ẩn các vùng*/
 div.banner ul.menu li.VUNGMIEN ul.VUNG  {
    display:none;

    width:100%;
    height:auto;
    position:absolute;

    
}


 div.banner ul.menu li.VUNGMIEN ul.VUNG li.MIENTRUNG ul.TINHMT {
     display:none;
  float:left;
  

     position:relative;
 }
  div.banner ul.menu li.VUNGMIEN ul.VUNG li.MIENNAM ul.TINHMN {
        display:none;
  float:left;
  

     position:relative;
 }
    div.banner ul.menu li.VUNGMIEN ul.VUNG li.MIENBAC ul.TINHMB {
       display:none;
  float:left;
  

     position:relative;
 }
 /**/
 /*xữ lý khi rê chuột vào*/
div.banner ul.menu li.VUNGMIEN:hover ul.VUNG {
    display:block;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;

     background-color:rgba(255,255,255,0.75);
     padding-left:0.5%;
     margin-left:-12%;
     margin-top:31%;
  
    
}


div.banner ul.menu li.VUNGMIEN  ul.VUNG li.MIENTRUNG:hover ul.TINHMT{
    display:block;
    
  padding-left:1%;
     background-color:rgba(255,255,255,0.75);
     margin-left:8.7%;
      margin-top:-1.8%;
}
div.banner ul.menu li.VUNGMIEN  ul.VUNG li.MIENNAM:hover ul.TINHMN{
    display:block;
     background-color:rgba(255,255,255,0.75);
     padding-left:1%;
      margin-left:8.7%;
      margin-top:-1.8%;
   
}
.giaodien{
    width:100%;
    height:100%;
}
.slide{
    border-bottom:2px solid #e47e36;
    float:left;
    margin-top:0px;
    width:100%;
    height:650px ;
    position:relative;
}

#prev{
	text-transform:uppercase;
	top:50%;
	left:2%;
	position:absolute;
}
#next{
	text-transform:uppercase;
	top: 50%;
	right:2%;
	position:absolute;
}

div.banner ul.menu li.VUNGMIEN  ul.VUNG li.MIENBAC:hover ul.TINHMB{
    display:block;
     background-color:rgba(255,255,255,0.75);
     padding-left:1%;
      margin-left:8.7%;
     margin-top:-1.5%;
}

/**/
div.banner ul.menu li:hover {
    background-color:#ff6a00;
    
}

div.banner ul.menu li.VUNGMIEN ul.VUNG {
    position: absolute;

}
div.banner ul.menu li.DISAN ul.LOAI{
    position: absolute;

}
div.banner ul.menu li.VUNGMIEN ul.VUNG li.MIENTRUNG ul.TINHMT{
    position:fixed;
}
div.banner ul.menu li.VUNGMIEN ul.VUNG li.MIENNAM ul.TINHMN{
    position:fixed;
}
div.banner ul.menu li.VUNGMIEN ul.VUNG li.MIENBAC ul.TINHMB{
    position:fixed;
}


li{
    list-style-type:none;
} 
.footer{
    text-align:center;

   
    float:left;
    width:100%;
    height:400px;

     background-image:url(./diadiem/footer.jpg);
     border-top:4px solid #ff6a00;
   
     margin-top:50px;
}
.btn_timkiem{
    background-color:#ffd800;
    border:0px;
    font-weight:bold;
    font-size:20px;
}
.search-box{
    width:400px; height:20px;margin-top:16PX;border-top-right-radius:7px;border-bottom-right-radius:7px;margin-left:60px;position:absolute;border:solid white;
}
#search{
        width:400px; height:59%;margin-top:16PX;border-top-right-radius:7px;border-bottom-right-radius:7px;margin-left:60px;position:absolute;border:solid white;

}
